:root {
	--primary-color: #006400;
	--background-blue: #E0F7FA;
	--soft-gray: rgba(50, 50, 50, .2);
	--text-color: #2E2E2E;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: var(--text-color);
	max-width: 840px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

header {
	display: grid;
	grid-template-columns: auto 1fr;
	background-color: var(--background-blue);
}

header img {
	max-width: 100px;
	height: auto;
	margin: 10px;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header nav a {
	text-decoration: none;
	color: var(--primary-color);
	font-weight: bold;
	padding: 1rem;
	display: inline-block;
	min-width: 100px;
	text-align: center;
}

header nav a.active {
	border-bottom: 1px solid var(--primary-color);
}

header nav a:hover {
	background-color: var(--soft-gray);
	border-radius: 8px;
	color: var(--primary-color);
	border-bottom: none;
}

main {
	margin: 20px 0;
	display: grid;
	row-gap: 20px;
}

/** ABOUT PAGE **/

.hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

.hero img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	border-radius: 7px;
}

.hero h1 {
	position: absolute;
	top: 20px;
	padding: 10px;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	font-size: 2.5rem;
}

.hero article {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 10px;
	bottom: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1rem;
	border-radius: 8px;
	max-width: 90%;
}

.hero article img {
	width: 150px;
	height: auto;
	float:right;
}

.about,
.service,
.newsletter,
.booking {
	background-color: var(--background-blue);
	color: var(--text-color);
	border-radius: 7px;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	place-items: center;
}

.about h2,
.adventure h2,
.service h2,
.newsletter h2,
.cta h2,
.trips h2,
.booking h2 {
	grid-column: 1 / -1;
	text-align: center;
	margin-bottom: 10px;
	color: var(--primary-color);
}

.about img {
	width: 250px;
	height: auto;
	border-radius: 8px;
}

.adventure,
.cta {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.adventure figure,
.service figure,
.cta figure {
  text-align: center;
}

.adventure img,
.service img,
.cta img {
  width: 200px;
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.adventure figcaption,
.service figcaption {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  color: var(--text-color);
}

/** CONTACT PAGE **/

.contact {
	text-align: center;
}

.contact-grid {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 20px;
	margin-top: 20px;
}

.contact-grid iframe {
	width: 100%;
	max-width: 500px;
	border: 0px;
}

.contact-grid form {
	display: grid;
	grid-template-columns: 50px 1fr;
	place-items: center;
	margin-bottom: 1px;
	gap: 20px;
}

.contact-grid form label,
.form-section {
	width: 50px;
}

.contact-grid form input[type="text"],
.contact-grid form input[type="email"],
.contact-grid form textarea {
	border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 12px;
    font-size: 1rem;
	width: 100%;
}

.checks {
	grid-column: span 2;
}

.radio-group {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;
	width: 80%;
}

.contact-grid .radio-group label {
	width: 100%;
	text-align: left;
}

.contact-grid form button,
.newsletter form button {
	grid-column: 1 / -1;
	background-color: var(--primary-color);
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 1.1rem;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

/** MAIN PAGE **/

.newsletter {
	grid-template-columns: 1fr 2fr;
}

.newsletter form {
	text-align: left;
	justify-items: start;
	width: 100%;
}

.newsletter form input[type="email"] {
	border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 10px;
    font-size: 1rem;
	width: 300px;
}

.cta-text {
	grid-column: span 3;
	text-align: center;
	place-content: center;
}

.cta-text a,
.booking a {
	background-color: var(--primary-color);
	text-decoration: none;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 1.1rem;
	border-radius: 5px;
	cursor: pointer;
}

.cta-text p {
	margin: 20px 0;
}

/** TRIPS PAGE **/

.trips {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.trips img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border: 2px solid var(--primary-color);
	border-radius: 7px;
}

.trips article p {
	text-align: center;
}

.booking {
	grid-template-columns: auto;
}

.table table {
	width: 100%;
	border-collapse: separate; 
	border-spacing: 0 12px;
	margin-top: 10px;
}

.table th,
.table td {
	border-top: 2px solid rgba(0, 0, 0, 0.08);
	border-bottom: 2px solid rgba(0, 0, 0, 0.08);
	border-left: none;
	border-right: none;
	padding: 10px 12px;
	background: white;
	text-align: center;
}

.table th {
	background: rgba(0, 100, 0, 0.04);
	color: var(--primary-color);
	font-weight: 700;
}

/** FOOTER **/

footer {
  display: grid;
  grid-template-columns: auto 200px;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  background-color: var(--background-blue);
  color: var(--text-color);
}

.socialmedia {
  display: flex;
  justify-content: space-evenly;
}

.socialmedia a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialmedia img {
  width: 30px;
  height: 30px;
}

